<!DOCTYPE html>
<html>
<head>
  <title>MusicConcert</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Music Concert Network</h1>
</header>
  <%= yield %>
<footer>
  <p>Created by Roberto Quesada - Copyleft</p>
</footer>
</body>
</html>
